SECRET=
BASE=

MONGO_URL=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OPT_MAX_BOTS_PER_USER=
OPT_MAX_TESTS_PER_HOUR=
OPT_MAX_TESTS_CONCURRENCY=
OPT_MAX_SAVES_PER_HOUR=
OPT_MAX_CHALLENGES_PER_HOUR=

POSTMARK_API_KEY=

SENTRY_URL=

OPT_ENGINE_GC_EVERY_STEP=
