extends layout

block container
	h2 Battle
	br

	.panel.panel-default.panel-spacious
		.panel-body.text-center
			h4 Waiting for battle to begin..
			
block append scripts
	script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js')
	script(type='text/javascript') var battleId = !{JSON.stringify(battle.id)}
	script(type='text/javascript').
		var socket = io('//')
		socket.on('connect', function() {
			setTimeout(function() {
				socket.emit('track battle-run', {
					id: battleId
				})
			}, 0)
			
			socket.on('battle-run:step', function(data) {
				switch(data.kind) {
					case 'begin':
						$('h4').text('Battle in progress')
						break
							
					case 'finish':
						$('h4').text('Battle has ended')
						location.reload()
						break
				}
			})
		})
		
		function poll() {
			$.ajax({
				dataType: 'json',
				url: '/battles/'+battleId+'/ended.json',
				cache: true,
				success: function(ended) {
					console.log('!')
					if(!ended) {
						return setTimeout(function() {
							poll()
						}, 750)
					}
					
					$('h4').text('Battle has ended')
					location.reload()
				},
				error: function() {
					return setTimeout(function() {
						poll()
					}, 750)
				}	
			})
		}
		poll()
