extends layout

block container
	h2 Edit Bot
	br
	
	.panel.panel-default.panel-spacious
		.panel-body
			.row
				.col-xs-8.col-xs-offset-2
					form(method='post')
						.form-group
							input.form-control(name='name' rows='8' placeholder='Name' value='#{bot.name}')
						.form-group
							textarea.form-control(name='code' rows='8' placeholder='Code') #{bot.code}
						
						.pull-right
							.btn-group
								a.btn.btn-default(href='/bots/#{bot.id}') Cancel
								button.btn.btn-primary(type='submit') Save

block append scripts
	script(type='text/javascript').
		CodeMirror.fromTextArea($('form textarea[name=code]')[0], {
			lineNumbers: true
		})
