extends layout

block container
	.panel.panel-default
		.panel-body
			h2 New Bot
			
		.panel-body
			form(method='post')
				.form-group
					input.form-control(name='name' rows='8' placeholder='Name')
				.form-group
					textarea.form-control(name='code' rows='8' placeholder='Code')
				
				button.btn.btn-primary(type='submit') Save
