extends layout

block container
	h2 New Bot
	br
		
	.panel.panel-default
		.panel-body
			.row
				.col-xs-8.col-xs-offset-2
					form(method='post')
						.form-group
							input.form-control(name='name' rows='8' placeholder='Name')
						.form-group
							textarea.form-control(name='code' rows='8' placeholder='Code')

						.pull-right
							a.btn.btn-default(href='/my-bots') Cancel
							button.btn.btn-primary(type='submit') Save
