extends layout

block container
	h2 New Challenge
	br

	.panel.panel-default.panel-spacious
		.panel-body
			.row
				.col-xs-8.col-xs-offset-2
					if bots.length === 0
						p To challenge a friend, you need to 
							a(href='/my-bots/new') create a bot
							|  first.
						
					else
						p
							i Challenge a friend with one of your bots by typing their Twitter handle (e.g. @example) or email address (e.g. someone@example.com) in the "Opponent" field. In case you are using an email address of someone who is not registered, we will send them an email inviting to hop on board.
						br

						form(method='post')
							.form-group
								select.form-control(name='bot')
									for bot in bots
										option(value='#{bot.id}') #{bot.name}
							.form-group
								input.form-control(name='opponent' placeholder='Opponent' data-toggle='tooltip' data-placement='right' title='Challenge a friend by typing their Twitter handle (e.g. @example) or email address (e.g. someone@example.com) here' data-container='body')

							.form-group
								textarea.form-control(name='message' placeholder='Message' maxlength='256' data-toggle='tooltip' data-placement='right' title='Let your friend know who eats metal for breakfast' data-container='body')

							.btn-group.pull-right
								button.btn.btn-primary(type='submit') Create
							.btn-group
								a.btn.btn-default(href='/my-bots') Cancel

block append scripts
	script(type='text/javascript').
		(function() {
			var m = location.hash.match(/bot=(\w+)/)
			if(m) {
				$('select[name=bot]').val(m[1])
			}
			var m = location.hash.match(/opponent=([@\.\w]+)/)
			if(m) {
				$('input[name=opponent]').val(m[1])
			}
		})()
