extends layout

block container
	.panel.panel-default
		.panel-body
			h2 New Contest
			
		.panel-body
			form(method='post')
				.form-group
					input.form-control(name='title' placeholder='Title' value='#{contest.title}')
				.form-group
					input.form-control(type='datetime' name='deadline' placeholder='Deadline' value='#{contest.deadline.toISOString()}')
				
				button.btn.btn-primary(type='submit') Update
