extends layout

block container
	h2 New Contest	
	br
		
	.panel.panel-default.panel-spacious
		.panel-body
			.row
				.col-xs-8.col-xs-offset-2
					form(method='post')
						.form-group
							input.form-control(name='title' placeholder='Title')
						.form-group
							input.form-control(type='date' name='deadline' placeholder='Deadline')
						
						.btn-group.pull-right
							button.btn.btn-primary(type='submit') Save
						.btn-group
							a.btn.btn-default(href='/contests') Cancel
