doctype html
html
	head
		title Battlescripts

		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.css')
		!= css('screen')

	body
		header
			.container
				.row
					.col-xs-6
						a(href='/')
							img.logo(src='/img/logo-toptal.png')
						
					.col-xs-6.text-right
						block user-nav
							if user
								span.name #{user.name}
								
								a.btn.btn-default(href='/logout') Logout
							
							else
								a.btn.btn-default(href='/login') Login
		
		.navbar.navbar-default(style='margin-bottom: 64px;')
			.container
				if user
					ul.nav.navbar-nav
						li
							a(href='/my-bots') My Bots
						
						li
							a(href='/my-battles') My Battles
						
						if user.roles.indexOf('admin') >= 0
							li
								a(href='/users') Users
								
							li
								a(href='/contests') Contests
		
		.container
			for kind in ['info']
				if messages[kind]
					for msg in messages.info
						.alert.alert-info 
							button.close(data-dismiss='alert') &times;
							| #{msg}
			
		.container
			block container

		block scripts
			script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.js')
