doctype html
html
	head
		title Battlescripts

		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
		style(type='text/css').
			.panel,
			.form-control,
			.btn {
				border-radius: 0;
			}
			body {
				font-family: 'Open Sans';
			}
			h2 {
				margin-top: 0;
			}

	body
		.container
			block container

		block scripts
			script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js')
