doctype html
html
	head
		title Battlescripts

		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
		block styles
			style(type='text/css').
				pre,
				.panel,
				.form-control,
				.btn {
					border-radius: 0;
				}
				body {
					font-family: 'Open Sans';
				}
				h2 {
					margin-top: 0;
				}

	body
		.navbar.navbar-default
			.container
				.navbar-header
				
				.collapse.navbar-collapse
					if user
						ul.nav.navbar-nav.navbar-right
							li
								a(href='/logout') Logout
								
						p.navbar-text.navbar-right #{user.name}
						
					else
						ul.nav.navbar-nav.navbar-right
							li
								a(href='/login') Login
		
		.container
			for kind in ['info']
				if messages[kind]
					for msg in messages.info
						.alert.alert-info 
							button.close(data-dismiss='alert') &times;
							| #{msg}
			
		.container
			block container

		block scripts
			script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js')
