doctype html
html
	head
		title Battlescripts

		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
		block styles
			style(type='text/css').
				pre,
				.panel,
				.form-control,
				.btn {
					border-radius: 0;
				}
				body {
					font-family: 'Open Sans';
				}
				h2 {
					margin-top: 0;
				}
				header {
					padding: 24px 0;
				}
				header .logo {
					height: 34px;
				}
				header .name {
					margin-right: 24px;
				}

	body
		header.container
			.row
				.col-xs-6
					a(href='/')
						img.logo(src='/img/logo-toptal.png')
					
				.col-xs-6.text-right
					if user
						span.name #{user.name}
						
						a.btn.btn-default(href='/logout') Logout
					
					else
						a.btn.btn-default(href='/login') Login
		
		.navbar.navbar-default(style='margin-bottom: 64px;')
			.container
				if user
					ul.nav.navbar-nav
						li
							a(href='/my-bots') My Bots
						
						li
							a(href='/my-battles') My Battles
						
						if user.roles.indexOf('admin') >= 0
							li
								a(href='/users') Users
								
							li
								a(href='/contests') Contests
		
		.container
			for kind in ['info']
				if messages[kind]
					for msg in messages.info
						.alert.alert-info 
							button.close(data-dismiss='alert') &times;
							| #{msg}
			
		.container
			block container

		block scripts
			script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js')
