extends layout

block container
	if bots.length === 0
		.panel.panel-default
			.panel-body.text-center
				h3 Challenge your friends. Earn glory.

	else
		if invite
			.panel.panel-default
				.panel-body.text-center
					h3 You seem pretty good at this!
					p Have you considered applying to Toptal, a private network of senior developers freelancing from around the world? Skip to the top of the application pool at&#032;
						a(href='http://www.toptal.com/#battlescripts-recruit') toptal.com/#battlescripts-recruit
			
		.list-group
			for bot in bots
				.list-group-item
					.pull-right Score: #{Math.floor(bot.score)}, Wins: #{bot.stats.wins}
					| #{bot.name}
					small  &mdash; #{bot.author.name}
