extends layout

block container
	.panel.panel-default
		.panel-body
			h2 Participants
				
		.list-group
			for party in parties
				a.list-group-item(href='/participants/#{party.id}') #{party.bot.name}
					small  &mdash; by #{party.user.name}
