extends layout

block container
	h2 Participants
	br
		
	.panel.panel-default
		.list-group
			for party in parties
				a.list-group-item(href='/participants/#{party.id}')
					b #{party.bot.name}
					br
					small by #{party.user.name}
