extends layout

block container
	.row
		.col-xs-6
			h2 Users
				small  &mdash; #{users.length} found
			
		.col-xs-6
			.pull-right
				form(method='get' action='/users/search')
					input.form-control(type='search' name='q' value='#{q}' placeholder='Search')
	br
	
	.panel.panel-default
		.list-group
			for user in users
				a.list-group-item(href='/users/#{user.id}') #{user.name}
