extends layout

block container
	.panel.panel-default
		.panel-body
			.pull-right
				form(method='get' action='/users/search')
					input.form-control(type='search' name='q' value='#{q}')
						
			h2 Users
				
		.list-group
			for user in users
				a.list-group-item(href='/users/#{user.id}') #{user.name}
