body
	font-family 'Asap'
	background #f7f7f7

h2
	margin-top 0
header
	padding 24px 0
	background #fcfcfc

	.logo
		height 34px

	.name
		margin-right 24px

.navbar
	background #fcfcfc

.btn
	position relative
	-webkit-transition background 150ms
	transition background 150ms

	&.btn-default
		border 1px solid #d5d5d5
		background #fdfdfd
		background -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f0f0f0))
		background -webkit-linear-gradient(#fdfdfd, #f0f0f0)
		background linear-gradient(#fdfdfd,#f0f0f0)
		color #525252
		-webkit-box-shadow inset #fff 0 1px
		box-shadow inset #fff 0 1px

		&:hover
			border 1px solid #d5d5d5
			background #fafafa
			background -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9e9e9))
			background -webkit-linear-gradient(#fafafa, #e9e9e9)
			background linear-gradient(#fafafa,#e9e9e9)

	&.btn-primary
		border 1px solid #1f7c57
		text-shadow #1c8f3d 0 1px 0
		background #3dbe8b
		background -webkit-gradient(linear, left top, left bottom, from(#43c692), to(#39b885))
		background -webkit-linear-gradient(#43c692, #39b885)
		background linear-gradient(#43c692,#39b885)
		color #fff
		-webkit-box-shadow inset #4fd3aa 0 1px
		box-shadow inset #4fd3aa 0 1px

		&:hover
			border 1px solid #1f7c57
			background #2baa78
			background -webkit-gradient(linear, left top, left bottom, from(#33b481), to(#23a06e))
			background -webkit-linear-gradient(#33b481, #23a06e)
			background linear-gradient(#33b481,#23a06e)

.panel.panel-spacious
	.panel-body
		padding-top 96px
		padding-bottom 96px

.CodeMirror
	display block
	width 100%
	font-size 14px
	line-height 1.42857143
	color #555
	background-color #fff
	background-image none
	border 1px solid #ccc
	border-radius 4px
	-webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
	box-shadow inset 0 1px 1px rgba(0,0,0,.075)
	-webkit-transition border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
	-o-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
	transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
